body, button, input, select, textarea {
    font-style: normal;
    font-variant-ligatures: normal;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

body {
    overflow-y: scroll;
    background-color: #f4f4f4;
}

a, ul, li {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}