@font-face {
    font-family: 'iconfont';  /* project id 567181 */
    src: url('//at.alicdn.com/t/font_567181_xdjicdsixdw019k9.eot');
    src: url('//at.alicdn.com/t/font_567181_xdjicdsixdw019k9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_567181_xdjicdsixdw019k9.woff') format('woff'),
    url('//at.alicdn.com/t/font_567181_xdjicdsixdw019k9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_567181_xdjicdsixdw019k9.svg#iconfont') format('svg');
  }
.site-nav{color:#6c6c6c;background-color:#f5f5f5;width:100%;height:36px}
.site-nav:after{content:'';display:block;clear:both}
.site-nav .site-nav-bd{margin:0 96.5px}
.site-nav .site-nav-bd::after{content:'';display:block;clear:both}
.site-nav-bd-1::after{content:'';display:block;clear:both}
.site-nav .site-nav-bd-1{float:left;list-style:none}
.cover .site-nav .site-nav-menu{float:left;display:block;padding:0 6px;height:35px;line-height:35px}
.cover .site-nav-menu .site-nav-region{color:#3c3c3c;float:left;margin-right:7px}
.cover .site-nav-menu span{display:block;float:left}
.cover .site-nav-menu a span{margin-right:7px}
.cover .site-nav .site-nav-pipe{float:left;height:35px;line-height:35px;color:#ddd;margin-right:5px;margin-left:5px}
.cover .site-nav-menu .mobile-gtb{margin-left:7px}
.site-nav .nav-sign .login-red{float:left;color:#f22e00;margin-right:7px}
.site-nav-icon{font-family:iconfont;color:#9c9c9c;display:block;float:left;margin-top:16px;line-height:1px}
.site-nav-bd-r{float:right;list-style:none}
.site-nav-bd-r::after{content:'';display:block;clear:both}
.site-nav-bd-r .shopping-cart-icon{margin-right:5px;color:#f40;font-size:14px;margin-top:17px}
.site-nav-bd-r .shopping-cart{margin-right:7px}
.site-nav-bd-r .star-icon{margin-top:17px;margin-right:3px;font-size:15px}
.site-nav-bd-r .mytb{margin-right:7px}
.site-nav-bd-r .merchandise-category{margin-right:14px}
.site-nav-bd-r .folder{margin-right:7px}
.site-nav-bd-r .seller-center{margin-right:7px}
.site-nav-bd-r .menu{color:#f40;margin-right:4px}
.cover .site-nav-menu-hover:hover{background-color:#fff}
.cover .banner{overflow:hidden}
.cover .banner .bannerWrapper{text-align:center;background:#f65d37}
.cover .banner a{cursor:pointer}
.cover .banner .bannerWrapper img{margin:0 auto;display:block}



.cup .top-wrap {
    margin: 0 96.5px;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.top-wrap .logo-hover {
    float: left;
}

.top-search-wrapper .search-bd {
    position: relative;
}

.top-search-wrapper .search-button {
    color: #fff;
    background-color: #ff4200;
    font-weight: 700;
    font-size: 18px;
    height: 100%;
    border: none;
    width: 100%;
    line-height: 40px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
}

.top-search-wrapper .search-btn-wrapper {
    float: left;
    width: 74px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.top-search-wrapper .search-combobox {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #ff5000;
    border-right: none;
    content: '';
    float: left;
    height: 40px;
    width: 557px;
    overflow: hidden;
}

.search-panel .search-imgsearch-panel {
    float: left;
    position: relative;
}

.top-search-wrapper .searchTab {
    margin-left: 17px;
}

.top-wrap .top-search-wrapper {
    float: left;
    margin: 38px 65px;
}

.top-wrap .qr-wrapper {
    float: left;
}

.switchable-nav .search-tab {
    float: left;
    width: 36px;
    height: 22px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    cursor: pointer;
    color: white;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
}

.search-combobox .search-combobox-input-wrap {
    height: 36px;
    overflow: hidden;
    width: 472px;
    vertical-align: middle;
    position: relative;
}

.search-combobox .search-combobox-input {
    padding: 6px 0;
    text-indent: 10px;
    height: 36px;
    border: none;
    outline: 0;
    background: #fff;
    display: inline-block;
    line-height: 24px;
    overflow-y: visible;
    font-size: 100%;
    color: #000;
    margin: 0;
    width: 472px;
}

.search-img-icon {
    font-family: iconfont;
    position: absolute;
    top: 26px;
    left: 14px;
    font-size: 16px;
    color: #666;
    z-index: 2;
}

.icon-font-camera {
    font-family: iconfont;
    color: #9E9E9E;
    font-size: 24px;
    top: 19px;
    right: 90px;
    font-style: normal;
    position: absolute;
}

.cup .search-ft .search-foot {
    color: #666;
    padding: 5px 41px 0 0;
}